/*---------------- COLORS --------------------*/
/*
    header-bg-color: #35424a;
    reddish-color: #e8491d;
    fav-color: lightgoldenrodyellow;
*/
/*---------------- ANIMATIONS ----------------*/
    @keyframes moveInLeft {
        0% {opacity: 0; transform: translate(-100px);}
        80% {transform: translate(10px);}
        100% {opacity: 1; transform: translate(0);}
    }
    
    @keyframes moveInRight {
        0% {opacity: 0; transform: translate(100px);}
        80% {transform: translate(-10px);}
        100% {opacity: 1; transform: translate(0);}
    }
    
    @keyframes moveInFromBelow {
        0% {opacity: 0; transform: translateY(30px);}
        100% {opacity: 1; transform: translate(0);}
    }
/*-------------------------------------------*/


/*--------------- GLOBALS -------------------*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
